nav a {
    text-decoration: none;
    margin-left: 7px;
    font-size: 17px;
    color: tomato
}

.span-form {
    margin-left: 80px;
}

.span-belakang {
    margin-left: 57px;
}

.span-alamat {
    margin-left: 110px;
}

.span-tanya {
    margin-left: 87px;
}

.footer-title {
    margin-top: 30px;
}