/* GLOBAL START */
nav a {
  text-decoration: none;
  margin-left: 7px;
  font-size: 17px;
  color: tomato;
}

.footer-title {
  margin-top: 30px;
}
/* GLOBAL END */

/* INDEX START */
/* INDEX END */

/* ABOUT START */
main {
  justify-content: space-around;
}

.span-name {
  margin-left: 115px;
  margin-right: 17px;
}

.span-date {
  margin-left: 8px;
  margin-right: 17px;
}

.span-alamat {
  margin-left: 107px;
  margin-right: 20px;
}

.span-hobi {
  margin-left: 119px;
}

.foto {
  display: flex;
  align-items: center;
}

.span-foto {
  margin-left: 8rem;
}

.hutao {
  margin-left: 25px;
  width: 130px;
  flex-wrap: wrap;
}

.span-social {
  margin-left: 70px;
}

.span-yyy {
  color: aqua;
}

.footer-title {
  padding-top: 40px;
}
/* ABOUT END */

/* CONTACT START */
.span-form {
  margin-left: 80px;
}

.span-belakang {
  margin-left: 57px;
}

.span-alamat {
  margin-left: 110px;
}

.span-tanya {
  margin-left: 87px;
}

/* CONTACT END */
